<!-- ================ HEADER-TITLE ================ -->
<section class="s-header-title">
    <div class="container">
        <h1>About Us</h1>
        <ul class="breadcrambs">
            <li><a href="index.html">Home</a></li>
            <li>About Us</li>
        </ul>
    </div>
</section>
<!-- ============== HEADER-TITLE END ============== -->
<!-- ============== ABOUT-ADVANTAGES ============== -->
<section class="s-about-advantages">
    <div class="container">
        <h2 class="title"><span>Our advantages</span></h2>
        <div class="row about-adv-cover">
            <div class="cil-12 col-md-6 about-adv-item">
                <img src="assets/img/about-1.jpg" alt="img">
                <h5 class="title">Doloremque laudantium, totam rem aperiam</h5>
                <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque lauda ntium, <a href="#">totam rem</a> aperiam, eaque.</p>
            </div>
            <div class="cil-12 col-md-6 about-adv-item">
                <img src="assets/img/about-2.jpg" alt="img">
                <h5 class="title">At vero eos et accusamus et iusto odio</h5>
                <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque lauda ntium, <a href="#">totam rem</a> aperiam, eaque.</p>
            </div>
        </div>
        <div class="our-advantages-wrap advantages-wrap-about">
            <div class="our-advantages-item">
                <img src="assets/img/advantages-about-1.svg" alt="icon">
                <h5>Free shipping <br>from $500</h5>
            </div>
            <div class="our-advantages-item wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".25s">
                <img src="assets/img/advantages-about-2.svg" alt="icon">
                <h5>Warranty service <br>for 3 months</h5>
            </div>
            <div class="our-advantages-item wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".35s">
                <img src="assets/img/advantages-about-3.svg" alt="icon">
                <h5>Exchange and return <br>within 14 days</h5>
            </div>
            <div class="our-advantages-item wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".45s">
                <img src="assets/img/advantages-about-4.svg" alt="icon">
                <h5>Discounts for <br>customers</h5>
            </div>
        </div>
    </div>
</section>
<!-- ============ ABOUT-ADVANTAGES END ============ -->
<!--================= S-ABOUT-COUNT =================-->
<section class="s-about-count counter-animate counter-active" style="background-image: url(assets/img/bg-about-count.jpg);">
    <span class="mask"></span>
    <span class="effwct-bg-about" style="background-image: url(assets/img/effect-bg-about.svg);"></span>
    <div class="container">
        <div class="row about-count-cover">
            <div class="col-sm-6 col-md-3 about-count-item">
                <div class="number"><span data-number="2200">0</span></div>
                <h5>Satisfied customers</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
            </div>
            <div class="col-sm-6 col-md-3 about-count-item">
                <div class="number"><span data-number="1650">0</span></div>
                <h5>Various Products</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
            </div>
            <div class="col-sm-6 col-md-3 about-count-item">
                <div class="number"><span data-number="125">0</span></div>
                <h5>Famous brand</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
            </div>
            <div class="col-sm-6 col-md-3 about-count-item">
                <div class="number"><span data-number="1988">0</span></div>
                <h5>Orders per year</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
            </div>
        </div>
    </div>
</section>
<!--=============== S-ABOUT-COUNT END ===============-->
<!--=================== S-CLIENTS ===================-->
<section class="s-clients about-clients">
    <div class="container">
        <div class="clients-cover">
            <div class="client-slide">
                <div class="client-slide-cover">
                    <img src="assets/img/client-1.svg" alt="img">
                </div>
            </div>
            <div class="client-slide">
                <div class="client-slide-cover">
                    <img src="assets/img/client-2.svg" alt="img">
                </div>
            </div>
            <div class="client-slide">
                <div class="client-slide-cover">
                    <img src="assets/img/client-4.svg" alt="img">
                </div>
            </div>
            <div class="client-slide">
                <div class="client-slide-cover">
                    <img src="assets/img/client-5.svg" alt="img">
                </div>
            </div>
            <div class="client-slide">
                <div class="client-slide-cover">
                    <img src="assets/img/client-6.svg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================= S-CLIENTS END =================-->